.searchBar-container {
    background: white;
    width: calc(100% - var(--spacing-large) * 2);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    align-items: center;
    /*margin: var(--spacing-large);*/
    padding: var(--spacing-large);

    label {
        font-size: var(--font-size-medium);
        font-weight: bold;
    }

    input {
        height: 48px;
        font-size: 1.2rem;
        padding: 4px 20px;
        border-radius: var(--spacing-medium);
        border: 1px solid grey;
        width: 100%;
        background-color: #f9f9f9;
    }
}

@media (max-width: 400px) {
    .searchBar-container {
        position: fixed;
        bottom: 0;
        left: 0;
        border-top: 1px solid grey;
    }
}

