.station-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-normal);
    border-radius: var(--padding-normal);
    background-color: #e7ecf6;
    width: 400px;
    height: 145px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: unset;
    text-align: left;
}

.location-container {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

.location-tag {
    display: flex;
    gap: 5px;
    align-items: center;
}

.data-container {
    display: flex;
    justify-content: space-around;
    margin: var(--padding-normal);
    margin-bottom: 0;
}

p {
    margin: 0;
}

.bike-availability-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .low-availability {
        color: var(--color-danger)
    }

    .med-availability {
        color: var(--color-warn)
    }

    .high-availability {
        color: var(--color-success)
    }
}
.bike-availability-number {
    font-size: 24px;
    font-weight: bold;
}

